{{outlet}}
<h1>Q &amp; A</h1>

{{question-detail question=model update="update"}}

<hr>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer" question=model}}
